@model Library.Models.Books

@{
    ViewBag.Title = "Book Details";
}

<h2>Book Details</h2>

<dl class="row">
    <dt class="col-sm-2">Title</dt>
    <dd class="col-sm-10">@Model.Title</dd>
    <dt class="col-sm-2">Author</dt>
    <dd class="col-sm-10">@Model.Author</dd>
    <dt class="col-sm-2">ISBN</dt>
    <dd class="col-sm-10">@Model.ISBN</dd>
    <dt class="col-sm-2">Total Copies</dt>
    <dd class="col-sm-10">@Model.TotalCopies</dd>
    <dt class="col-sm-2">Available Copies</dt>
    <dd class="col-sm-10">@Model.AvailableCopies</dd>
    <dt class="col-sm-2">Created Date</dt>
    <dd class="col-sm-10">@Model.CreatedDate.ToString("yyyy-MM-dd")</dd>
</dl>

<a href="@Url.Action("Index")" class="btn btn-secondary">Back</a>